.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #f5f3ff;
  height: 95%;
  width: 95%;
  margin: 0.1rem;
  padding: 0.1rem;
}

input {
  margin: 0.1rem;
  padding: 0.2rem;
  border: dotted grey 0.3rem;
  text-align: center;
  font-size: 3rem;
  height: 3rem;
  width: 8rem;
}

h2 {
  font-style: italic;
}

footer {
  text-align: right;
  font-size: 0.5rem;
  font-style: italic;
  color: black;
  background-color: #f5f3ff;
  padding: 0.2rem;
}

.symbol {
  font-size: 1.4rem;
  padding: 0.1rem;
  cursor: pointer;
}

.match-container {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr 2fr;
  text-align: left;
  justify-content: center;
}
